<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EntityGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <EntityGenerator.Properties.Settings>
      <setting name="DefaultServer" serializeAs="String">
        <value>FELIXF</value>
      </setting>
      <setting name="DefaultUsername" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DefaultPassword" serializeAs="String">
        <value>P@$$W0rd!</value>
      </setting>
      <setting name="LastOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNamespace" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedTables" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDatabase" serializeAs="String">
        <value />
      </setting>
      <setting name="LastEntityNames" serializeAs="String">
        <value />
      </setting>
    </EntityGenerator.Properties.Settings>
  </userSettings>
</configuration>